.loader {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  max-width: 100%;
}
.loader > div {
  width: 10vmax;
  height: 10vmax;
  border-bottom: 5px solid rgba(3, 3, 3, 0.74);
  border-radius: 50%;
  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}
